@model CorporX.Data.Models.Breadcrumb
@{
}
<section class="hero-section ptb-100 gradient-overlay"
         style="background: url('~/../../uploads/@Model.Photo')no-repeat center center / cover ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="text-white mb-0">@Model.Title</h1>
                    <div class="custom-breadcrumb">
                        <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                            <li class="list-inline-item breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (!String.IsNullOrEmpty(@Model.Link))
                            {
                                <li class="list-inline-item breadcrumb-item">
                                    <a asp-controller="Home" asp-action="">@Model.Link</a>
                                </li>
                            }

                            <li class="list-inline-item breadcrumb-item active">@Model.Path</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
