
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!--title-->
    <title>CorporX Corporate and Business HTML Template</title>

    <!--favicon icon-->
    <link rel="icon" href="~/Assets/img/favicon.png" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&amp;display=swap" rel="stylesheet">
    <!--fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <!--Themify icon css-->
    <link rel="stylesheet" href="~/Assets/css/themify-icons.css">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="~/Assets/css/all.min.css">
    <!--animated css-->
    <link rel="stylesheet" href="~/Assets/css/animate.min.css">
    <!--ytplayer css-->
    <link rel="stylesheet" href="~/Assets/css/jquery.mb.YTPlayer.min.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <!--custom css-->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
</head>
<body>

    <!--loader start-->
    <div id="preloader">
        <div class="loader1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--loader end-->
    <!--header section start-->
    <header class="header">
        <!--topbar start-->
        <vc:header-component></vc:header-component>
        <!--topbar end-->
        <!--start navbar-->
        <nav class="navbar navbar-expand-lg fixed-top white-bg">
            <div class="container">
                <a class="navbar-brand" href="index-2.html">
                    <img src="~/Assets/img/logo-color.png" alt="logo" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">
                        <li class="dropdown">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li> <a asp-controller="About" asp-action="AboutUs">About Us</a></li>
                        <li> <a asp-controller="Services" asp-action="Service">Services</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="sub-menu dropdown-menu">
                                <li> <a asp-controller="Pages" asp-action="Details">Services Details</a></li>
                                <li> <a asp-controller="Pages" asp-action="Fag">FAQ Page</a></li>
                            </ul>
                        </li>
                        <li> <a asp-controller="Project" asp-action="ProjectDetails">Project</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="sub-menu dropdown-menu">
                                <li> <a asp-controller="Blog" asp-action="Index">Blog Grid</a></li>
                                <li> <a asp-controller="Blog" asp-action="Sidebar">Blog Sidebar</a></li>
                                <li> <a asp-area="manager" asp-controller="account" asp-action="login">Sign In</a></li>
                            </ul>
                        </li>
                        <li> <a asp-controller="Contact" asp-action="ContactUs">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--header section end-->
    @RenderBody()

    <!--footer section start-->
    <vc:footer-component></vc:footer-component>
    <!--footer section end-->
    <!--bottom to top button start-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="ti-angle-up"></span>
    </button>
    <!--bottom to top button end-->
    <!--jQuery-->
    <script src="~/Assets/js/jquery-3.4.1.min.js"></script>
    <!--Popper js-->
    <script src="~/Assets/js/popper.min.js"></script>
    <!--Bootstrap js-->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!--Magnific popup js-->
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <!--jquery easing js-->
    <script src="~/Assets/js/jquery.easing.min.js"></script>
    <!--jquery ytplayer js-->
    <script src="~/Assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!--Isotope filter js-->
    <script src="~/Assets/js/mixitup.min.js"></script>
    <!--wow js-->
    <script src="~/Assets/js/wow.min.js"></script>
    <!--owl carousel js-->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <!--countdown js-->
    <script src="~/Assets/js/jquery.countdown.min.js"></script>
    <!--custom js-->
    <script src="~/Assets/js/scripts.js"></script>
</body>

</html>
