@model ContactUs
<div class="col-md-6">
    <div class="contact-us-form gray-light-bg rounded p-5">
        <h4>Ready to get started?</h4>
        <form method="POST" id="ContactForm" class="contact-us-form">
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <input asp-for="Fullname" class="form-control" placeholder="Enter name">
                        <span asp-validation-for="Fullname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Enter email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <textarea asp-for="Message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <button type="submit"  value="Create" class="btn secondary-solid-btn" id="btnContactUs">
                        Send Message
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




