<section class="contact-us-section ptb-100">
    <div class="container contact">
        <div class="col-12 pb-3 message-box d-none">
            <div class="alert alert-danger"></div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-6">
                <div class="contact-us-form gray-light-bg rounded p-5">
                    <h4>Ready to get started?</h4>
                    <form action="#" method="POST" id="contactForm" class="contact-us-form">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Enter name" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <button type="submit" class="btn secondary-solid-btn" id="btnContactUs">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact-us-content">
                    <h2>Looking for a excellent Business idea?</h2>
                    <p class="lead">Seamlessly deliver pandemic e-services and next-generation initiatives.</p>

                    <a href="#" class="btn outline-btn align-items-center">Get Directions <span class="ti-arrow-right pl-2"></span></a>

                    <hr class="my-5">

                    <h5>Our Headquarters</h5>
                    <address>
                        @Model.Setting.Address
                    </address>
                    <br>
                    <span>Phone: @Model.Setting.Phone</span> <br>
                    <span>Email: <a href="mailto: @Model.Setting.Email" class="link-color">@Model.Setting.Email</a></span>

                </div>
            </div>
        </div>
    </div>
</section>
