
@model BlogItemsViewModel

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}

<!--body content wrap start-->
<div class="main">

    <!--header section start-->
    <partial name="_Header" model="@Model.Breadcrumb" />
    <!--header section end-->
    <!--blog section start-->
    <partial name="_Blogs" model="@Model.PagingList" />
    <!--pagination start-->
    <div class="row ">
        <div class="col-md-12">
            <nav aria-label="Paging" class="custom-pagination-nav  mt-4 mb-5">
                <ul class="pagination justify-content-center">

                    @await this.Component.InvokeAsync("Pager", new { PagingList = Model.PagingList })
                </ul>>
            </nav>
        </div>
    </div>
    <!--pagination end-->
</div>
<!--body content wrap end-->
